.postContainer {
  text-align: center;
}

.postContainer h3 {
  margin-bottom: 0.2em;
}

.postContainer img {
    max-width: 800px;
}

.postContainer .tags {
  display: flex;
  justify-content: center;
}

.postContainer p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}
