@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* App */

.app {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: #9AD052;
    width: 300px;
    height: 550px;
}

.app2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: #9AD052;
    width: 300px;
    height: 550px;
}

.app,
.app2 {
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
}

h1 {
    font-size: 1.8em;
    color: white;
    text-align: center;
    margin-top: 20px;
}

p {
    color: white;
    font-size: 1.1em;
    margin-top: 20px;
}

#fnum {
    display: block;
    margin: auto;
    padding: 10px;
    width: 85%;
    border: 2px solid rgb(77, 113, 30);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.393);
}

#fnum:focus {
    outline: none;
}

#fbotao {
    display: block;
    margin: auto;
    font-size: 1.1em;
    color: rgb(77, 113, 30);
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.393);
    cursor: pointer;
}

#fnum,
#fbotao {
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.382)
}

.nome,
.status,
.especie,
.tipo,
.genero,
.origem,
.episodios,
.dataCriacao {
    margin-top: -20px;
    color: white;
}